:root {
    --olho-maconhado: #F21F05;
    --batom-de-paty: #F2053B;
    --verdinha: #188B12;
    --menstruacao: #C80C0C;
    --proletariado: #000000;
    --burgues-safadote: #ffffff;
    --suquinho-de-laranja: #FF7843;
    --vulva-da-estelar: #F24806;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.header-sakkola{
    background-color: var(--olho-maconhado);
}
.header-sakkola-2 {
    background-color: var(--menstruacao);
}

/* bordinha redondinha barra de busquinha */
.input-group .form-control {
    height: 42px;
    border-radius: 50rem !important;
    border: none;
}
.input-group .form-control:focus {
    cursor: pointer;
}
.links-font-header {
    font-size: 16px;
    margin: 0;
}
.links-font-header .nav-link {
   padding-left: 4px;
   padding-right: 4px;
}

.logo-header {
    max-height: 45px; /* altura de acordo com a logo */
    width: auto;
    display: block;
}
.logo-footer {
    max-height: 35px; /* altura de acordo com a logo */
    width: auto;
    display: block;
}
/* faixa vermelha */
.footer-nav {
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    padding: 0;
    margin: 0;
 
    overflow: hidden;
}
/* link copyright*/
.font-footer {
    font-size: 0.75rem;
    line-height: 1;
    padding: 8px;
    margin: 0;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}